<a href="https://colab.research.google.com/github/anakhabose/Learn.py/blob/main/TASK_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and display its,
     - Head
     - Tail
     - Index 
     - Columns
     - Values
     - statistics

In [80]:
#please type your answer below this line.
import pandas as pd 
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2021-01-01 -0.643166 -1.118514  1.306649 -0.718509
2021-01-02 -0.527446  0.502861 -0.934000  1.420596
2021-01-03 -0.638178 -0.549283 -1.031534 -1.577913
2021-01-04 -1.508948 -0.759427  1.240523 -0.588213
2021-01-05  0.672342 -0.195704  0.585632  0.041717
2021-01-06  2.399295  0.825688 -0.851705  0.366169

In [81]:
#head
df.head(2)

                   A         B         C         D
2021-01-01 -0.643166 -1.118514  1.306649 -0.718509
2021-01-02 -0.527446  0.502861 -0.934000  1.420596

In [83]:
#tail
df.tail(3)

                   A         B         C         D
2021-01-04 -1.508948 -0.759427  1.240523 -0.588213
2021-01-05  0.672342 -0.195704  0.585632  0.041717
2021-01-06  2.399295  0.825688 -0.851705  0.366169

In [85]:
#index
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [88]:
#columns
pd.set_option('display.max_rows',None)
df

                   A         B         C         D
2021-01-01 -0.643166 -1.118514  1.306649 -0.718509
2021-01-02 -0.527446  0.502861 -0.934000  1.420596
2021-01-03 -0.638178 -0.549283 -1.031534 -1.577913
2021-01-04 -1.508948 -0.759427  1.240523 -0.588213
2021-01-05  0.672342 -0.195704  0.585632  0.041717
2021-01-06  2.399295  0.825688 -0.851705  0.366169

In [94]:
#values
df['A']

2021-01-01   -0.643166
2021-01-02   -0.527446
2021-01-03   -0.638178
2021-01-04   -1.508948
2021-01-05    0.672342
2021-01-06    2.399295
Freq: D, Name: A, dtype: float64

In [86]:
#statistics 
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.041017 -0.215730  0.052594 -0.176025
std    1.383808  0.751427  1.116639  1.031510
min   -1.508948 -1.118514 -1.031534 -1.577913
25%   -0.641919 -0.706891 -0.913426 -0.685935
50%   -0.582812 -0.372494 -0.133037 -0.273248
75%    0.372395  0.328220  1.076800  0.285056
max    2.399295  0.825688  1.306649  1.420596

2. Use the above table and,
      - find transpose of your data.
      - sort the index in the descending order of the date.

In [89]:
#please provide your answer below this line.
#trandpose
df.transpose()

   2021-01-01  2021-01-02  2021-01-03  2021-01-04  2021-01-05  2021-01-06
A   -0.643166   -0.527446   -0.638178   -1.508948    0.672342    2.399295
B   -1.118514    0.502861   -0.549283   -0.759427   -0.195704    0.825688
C    1.306649   -0.934000   -1.031534    1.240523    0.585632   -0.851705
D   -0.718509    1.420596   -1.577913   -0.588213    0.041717    0.366169

In [104]:
#descending order
df.sort_index(ascending=0)

                   A         B         C         D
2021-01-06  2.399295  0.825688 -0.851705  0.366169
2021-01-05  0.672342 -0.195704  0.585632  0.041717
2021-01-04 -1.508948 -0.759427  1.240523 -0.588213
2021-01-03 -0.638178 -0.549283 -1.031534 -1.577913
2021-01-02 -0.527446  0.502861 -0.934000  1.420596
2021-01-01 -0.643166 -1.118514  1.306649 -0.718509