<a href="https://colab.research.google.com/github/anakhabose/Learn.py/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [45]:
#please type your answer below this line.
import pandas as pd
import numpy as np
d= {'India':1,'Pakistan':3,'Bangladesh':5,'Srilanka':np.NaN,'China':6,'Nepal':8}
s= pd.Series(d)
print(s)

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
China         6.0
Nepal         8.0
dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [72]:
#please type 
import pandas as pd
import numpy as np
 
index= pd.date_range('2021-01-01','2021-01-06')
df_e= pd.DataFrame(np.random.randn(6,4), columns=['A','B','C','D'], index= index)
print(df_e)

                   A         B         C         D
2021-01-01 -0.147453  2.126508 -1.333888 -2.158593
2021-01-02 -0.948147  0.081000  0.878787 -1.834337
2021-01-03 -2.275189 -0.051711  0.891134  0.370536
2021-01-04 -2.104052 -1.210222 -1.402561  0.581755
2021-01-05  1.124706  0.433176 -0.201707  1.298942
2021-01-06 -1.408704 -0.573945 -0.857095 -1.395472