<a href="https://colab.research.google.com/github/anakhabose/Learn.py/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [2]:
#please provide your answer below this line.
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.rand(6,4), index=dates ,columns=list('ABCD'))
df

                   A         B         C         D
2021-01-01  0.859936  0.887884  0.427535  0.607661
2021-01-02  0.378321  0.259274  0.918905  0.044111
2021-01-03  0.375583  0.740247  0.133653  0.070088
2021-01-04  0.630271  0.215854  0.533826  0.187915
2021-01-05  0.219118  0.973021  0.716631  0.175970
2021-01-06  0.000987  0.831026  0.828278  0.978370

In [3]:
#first three rows
df.iloc[0:3,]

                   A         B         C         D
2021-01-01  0.859936  0.887884  0.427535  0.607661
2021-01-02  0.378321  0.259274  0.918905  0.044111
2021-01-03  0.375583  0.740247  0.133653  0.070088

In [4]:
 
#odd indexed rows
df.iloc[0:6:2]

                   A         B         C         D
2021-01-01  0.859936  0.887884  0.427535  0.607661
2021-01-03  0.375583  0.740247  0.133653  0.070088
2021-01-05  0.219118  0.973021  0.716631  0.175970

In [22]:
#dates 
df.iloc[0:4,0:0]

Empty DataFrame
Columns: []
Index: [2021-01-01 00:00:00, 2021-01-02 00:00:00, 2021-01-03 00:00:00, 2021-01-04 00:00:00]

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [24]:
#please provide your answer below thins line.
import pandas as pd
import numpy as np
Date = pd.date_range('20210101',periods=7)
df2 = pd.DataFrame(np.random.rand(7,4), index=Date, columns=list('ABCD'))
df2

                   A         B         C         D
2021-01-01  0.294841  0.842458  0.956802  0.720596
2021-01-02  0.338654  0.715547  0.883102  0.722132
2021-01-03  0.571400  0.625825  0.596600  0.323896
2021-01-04  0.834242  0.268726  0.061628  0.662041
2021-01-05  0.960677  0.595495  0.091545  0.659611
2021-01-06  0.139692  0.840273  0.315478  0.285493
2021-01-07  0.744162  0.225748  0.359456  0.658876

In [26]:
#index 1to 3 and columns A,B
df2.iloc[0:3,0:2]

                   A         B
2021-01-01  0.294841  0.842458
2021-01-02  0.338654  0.715547
2021-01-03  0.571400  0.625825

In [28]:
#data at 3rd index
df2.iloc[2]

A    0.571400
B    0.625825
C    0.596600
D    0.323896
Name: 2021-01-03 00:00:00, dtype: float64

In [29]:
#datas from 2nd to 5th
df2.iloc[1:5]

                   A         B         C         D
2021-01-02  0.338654  0.715547  0.883102  0.722132
2021-01-03  0.571400  0.625825  0.596600  0.323896
2021-01-04  0.834242  0.268726  0.061628  0.662041
2021-01-05  0.960677  0.595495  0.091545  0.659611

In [45]:
#index 1,2,4 and column 0,2
df.iloc[[0,1,3],[0,2]]

                   A         C
2021-01-01  0.859936  0.427535
2021-01-02  0.378321  0.918905
2021-01-04  0.630271  0.533826